<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <head>Kršteni list</head>
        <style>
            .submit_form{

            text-align: center;
            padding: 3%;
            background: pink;
            border-radius: 25px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                    0 6px 20px 0 rgba(0,0,0,0.36);
}
</style>

    </head>
    <body>
        <center class="row">
        <hr>
        <h3>Унос података<br> у <br> крштени лист</h3>
        <hr>
        </center>
        <center>
        <form method="POST">
            {%csrf_token%}
            {{forms}}
            <input type="submit" class="btn btn-default" value="ПОТВРДИ">

        </form>
    </center>
    </body>
</html>